body {
  padding: 0;
  margin: 0;
  height 100vh;
}

h1 {
  margin: 0;
  padding: 15px;
}

.myShoes {

}

header {
  background-color: #02475e;
  color: #f3bda1;
  text-align: center;
  margin-bottom: 0;
  padding: 0;
  top:0;
  height 40px;
}

.shoes {
  height; 100vh;
  position: fixed;
  top: 60px;
  bottom: 0;
  width: 100%;
  text-align: center;

  background: radial-gradient(#fefecc,#f3bda1 ,#687980, #02475e)
}

.mySneaker {
  height: 300px;
  margin: 5%;
}

.info {
  background-color: #02475e;
  color: #f3bda1;
  text-align: center;
  position: fixed;
bottom: 0;
  width: 100%;
}
